@import "tailwindcss";

:root {
	--backdrop-blur: 12px;
	--transition-fast: 300ms;
	--transition-medium: 500ms;
	--transition-slow: 700ms;
}

html {
	scroll-behavior: smooth;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	padding: 0;
	background-color: var(--color-stone-900);
}
